configuration {
  show-icons:         true;
  icon-theme:         "Paper";
  theme:              "theme.rasi";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
  font:               "SF Mono Powerline:style=Semibold 12";
  columns: 2;
}
